.downloadStatus-wrapper{
    margin-left: 45px;
}
.progressBar {
  width: 104px;
  height: 13px;
  border-radius: 3px;
  background: #f0f0f0;
  position: relative;
}
.progressBarValue {
  position: absolute;
  top: 0;
  height: 100%;
  background: #19e26a;
  border-radius: 3px;
}
.downloadInfo {
    margin-top: 3px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.15px;
  color: #000000;
}
